.footer-main {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
    background-color: black;
}

.footer-top {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer-top-left {
    width: 66%;
}

.footer-top-right {
    width: 33%;
}

.footer-middle {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

.footer-middle-left,
.footer-middle-middle,
.footer-middle-right {
    width: 33%;
}

.footer-titles {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
}

.footer-list-items {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
}

#email-input {
    padding: 10px;
    width: 50%;
    font-size: 15px;
}

#subscribe-button {
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px white solid;
    background-color: black;
    color: white;
    width: 150px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.footer-titles-down-right {
    margin-top: 25px;
}

.payment-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.footer-top-right-currency-section-title {
    margin-top: 30px;
    padding-bottom: 10px;
}

.footer-top-left-description {
    padding-bottom: 20px;
    padding-top: 50px;
}

.footer-top-right-contact-section {
    display: flex;
    flex-direction: column;
    gap: 2px
}

.footer-top-right-contact-section-description {
    padding-top: 10px
}

.currency-drop {
    display: flex;
    align-items: center;
    gap: 10px
}

@media (max-width:768px) {
    .footer-top {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .footer-top-left,
    .footer-top-right {
        width: 100%;
    }

    .footer-top-left-description {
        padding-top: 13px;
        padding-bottom: 6px;
    }

    .footer-top-right-contact-section {
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

    .footer-top-right-contact {
        display: flex;
        gap: 20px;
        background-color: black;
        flex-direction: row;
    }

    #currency-description {
        display: none;
    }

    .footer-middle {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .footer-middle-left,
    .footer-middle-middle,
    .footer-middle-right {
        width: 100%;

    }

    .footer-titles,
    .footer-list-items,
    .social-icons {
        display: none;
    }
}