.navbar-tape {
    height: 25px;
    width: 100%;
    background: #000;
    font-size: 12px;
    color: #EB4C6B;
    display: flex;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
}

.nav-contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-bar-menu {
    list-style: none;
    gap: 70px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10%;
    padding-left: 10%;
}

.navbar-action-links,
.navbar-language-drop {
    display: flex;
    align-items: center;
}

.navbar-action-links {
    gap: 20px;
}

@media (max-width:1024px) {
    .nav-bar-menu {
        font-size: 14px;
    }

    .navbar-action-links {
        gap: 5px;
    }

    .navbar-language-drop {
        display: none;
    }
}

@media (max-width:640px) {
    .nav-bar-menu {
        display: none;
    }

    .navbar-main {
        padding-bottom: 0px;
    }

    .navbar-action-links {
        gap: 5px;
    }

    .navbar-language-drop {
        display: none;
    }

    .company-logo {
        height: 20px;
        width: 20px;
    }

    #person-icon {
        display: none;
    }

    .company-name {
        height: 20px;
        width: 75px;
    }

    .navbar-logo-menu {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    #nav-contact-1,
    #nav-contact-2 {
        display: none;
    }
}

@media (min-width:640px) {
    .navbar-tape {
        background: #000;
    }

    #nav-menu-icon {
        display: none;
    }
}