select {
    background: white;
    border: none;
}

option {
    border: none;
    padding: 10px;
    font-family: "Simplon Norm";
}

.product-list-main {
    padding-left: 5%;
    padding-right: 5%;
}

.product-list-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.product-item-main {
    height: 460px;
    width: 300px;
}

.product-item-image-box {
    height: 399px;
    width: 300px;
}

.product-item-image {
    height: 100%;
    width: 100%;
}


.product-list-filter-column {
    transition: all;
    transition-duration: 1000ms;
}

.product-item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    /* Optional: limit width */
    display: block;
}

.product-item-description {
    display: flex;
    height: 15%;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}

.product-list-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    border-top: 1px #E5E5E5 solid;
    border-bottom: 1px #E5E5E5 solid;
    margin-bottom: 10px;
}

.toggle-filter-column {
    cursor: pointer;
    color: #888792;
    display: flex;
    align-items: center;
}

.product-list-item-number {
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.product-display-section {
    display: flex;
}

.dropdown-checkbox {
    cursor: pointer;
}

@media (max-width:300px) {}



@media (max-width:640px) {
    .product-item-main {
        height: 277px;
        width: 150px;
    }

    .product-item-image-box {
        height: 224px;
        width: 150px;
    }

    .product-item-title {
        font-size: 14px;
    }

    .product-item-description {
        font-size: 10px;
    }

    .product-list-recomendation-filter {
        font-size: 14px;
    }

    .product-list-recomendation-filter-label {
        font-size: 14px;
    }

    .product-list-top-bar {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}



@media (max-width:1024px) {
    .product-display-section {
        display: flex;
        flex-direction: column;
    }

    .product-list-item-number {
        display: none;
    }

    .product-list-recomendation-filter,
    .product-list-recomendation-drop {
        width: 50%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
    }

    .custom-button {
        font-weight: 700;
        font-size: 18px;
    }

    .product-list-recomendation-filter {
        display: block;
        font-weight: 700;
        font-size: 18px;
    }

    .customizable-checkbox {
        display: flex;
        font-weight: 700;
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
    }


}

@media (min-width:1024px) {
    .product-list-item-number {
        display: flex;
    }

    .product-list-recomendation-filter {
        display: none;

    }

    .customizable-checkbox {
        display: flex;
        font-weight: 700;
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
    }


}